.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  box-sizing: border-box;
  z-index: 10;
  background-color: #ffffff;
}
.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link-active:hover {
  color: #2f80ed;
}
