.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 183px 30px;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link-active:hover {
  color: #2f80ed;
}
