.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 183px 30px;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  margin: 0 0 28px 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 80px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px;
  font-weight: 500;
  line-height: 20px;
  color: #838383;
}

.header__opening-hours p {
  margin: 0;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0 24px 80px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px 80px;
  align-self: flex-start;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin-bottom: 215px;
}

.recipes__iframe {
  border: 0;
  height: 273px;
  width: 480px;
  margin-bottom: 24px;
}

.recipes__videos-capition {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos-capition p {
  margin: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  margin: 0 auto 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  margin: 0;
  max-width: 385px;
  width: 385px;
}

.reservation__form {
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  border: none;
  padding: 0;
  height: 60px;
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 30px;
}

input::placeholder {
  padding: 0 0 0 20px;
  color: #838383;
}

input.form__input[type="datetime-local"] {
  padding: 0 0 0 20px;
}

.form__button {
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button-submit:hover {
  opacity: 0.7;
}

.form__checkbox {
  display: flex;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
}

.form__checkbox-input {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
